.navbar-light {
    background-color: rgba(53, 53, 53, 0.781);
    height: 145px;
    line-height: 34px;
    letter-spacing: 0.1em;
  }

  .brand-title{
    font-size: 45px;
    font-family: 'Bangers', cursive;
    color:white;
    margin-left: 500px;
  }

  .nav-link{
    color: white;
  }